
/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html, body { height: 100%; }

body { font: 16px Helvetica, Arial; }

main { 
	display: flex;
	height: 100%;
	flex-direction: row;    
	justify-content: center;
	align-items: center;
	background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow: hidden;
	position:relative;

}

#red{
	color:red;
}
.title{
position: absolute;
color:#eee;
font-size:40px;
font-family: 'Pacifico', cursive;
font-weight: 100;
top:300px;
}

.subTitle{
position: absolute;
color:#eee;
top:370px;
font-size:20px;
}

#info{
	position: absolute;
	color:white;
	top:25px;
	font-size:16px;
	animation-delay:2s;
}
.chatContainer{
	width: 90vw;
	overflow:hidden;
	border-radius:10px;
//	animation-duration: 3s;
  animation-delay: 1.2s;
	-webkit-box-shadow: 10px 10px 17px -3px rgba(0,0,0,0.38);
	-moz-box-shadow: 10px 10px 17px -3px rgba(0,0,0,0.38);
	box-shadow: 10px 10px 17px -3px rgba(0,0,0,0.38);

}
.form-container, .messages { padding: 20px; }
.form-container { 
	flex: 1; 
	border-radius:0 0 10px 10px;
	background-color: rgb(194, 194, 194);
	color: #fff;
     
	label { display: block; margin-bottom: 0.5rem; }
}

.messages { 
	flex: 2;
	border-radius: 10px 10px 0 0;
	background-color: #eee;
	height: 50vh;
  overflow-y: scroll;
	scroll-behavior: smooth;
}

input, textarea { 
	display: block; 
	width: 100%;
	border-radius: 10px; 
	font-size: 0.8rem; 
	padding: 0.4rem; 
	border-style: solid;
	border-color:#eee;
	background-color: #eee;
}

textarea { height: 10vh; }



form {
	padding: 3px;
	margin: 12px auto;

	input[type=submit] {
		border:none; 
		width: auto; 
		padding: 10px; 
		background-color:#01dc77;
		margin-top: 1rem; 
		border-radius: 10px;
		color: white;
		cursor: pointer;
		transition:500ms;
		font-weight:bold;
	//	font-family: 'Pacifico', cursive;
	}
	input[type=submit]:hover{
		background:#049abf;
	}
}

#messages {
	list-style-type: none; margin: 0; padding: 0;

	li { padding: 5px 10px;	}
	li:nth-child(odd) { background: #eee; }
}

@media only screen and (min-width:570px){
  .chatContainer{
	 width:550px;
  }
}

// imports
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import 'modules/_message';

